.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(210, 210, 210);
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    justify-content: space-between;
}

.tab {
    padding: 20px;
    color: rgb(43, 43, 43);
    text-decoration: none;
}

.tabs {
    display: flex;
    flex-direction: row;
}

.tab:hover {
    background-color: rgb(240, 240, 240);
}

.logout-button {
    background-color: white;
    color: rgb(42, 42, 42);
    border: none;
    padding: 20px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: rgb(240, 240, 240);
}
